.modal-privacy-policy p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.modal-privacy-policy h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
}
.modal-privacy-policy strong {
  font-weight: 700;
}