@font-face {
  font-family: 'icomoon';
  src:  url('/icons/icomoon.eot?8ce99y');
  src:  url('/icons/icomoon.eot?8ce99y#iefix') format('embedded-opentype'),
    url('/icons/icomoon.ttf?8ce99y') format('truetype'),
    url('/icons/icomoon.woff?8ce99y') format('woff'),
    url('/icons/icomoon.svg?8ce99y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "\e900";
  color: inherit;
}
.icon-box:before {
  content: "\e901";
  color: inherit;
}
.icon-catalog:before {
  content: "\e902";
  color: inherit;
}
.icon-close:before {
  content: "\e903";
  color: inherit;
}
.icon-comment:before {
  content: "\e904";
  color: inherit;
}
.icon-delete:before {
  content: "\e905";
  color: inherit;
}
.icon-download:before {
  content: "\e906";
  color: inherit;
}
.icon-edit:before {
  content: "\e907";
  color: inherit;
}
.icon-eye:before {
  content: "\e908";
  color: inherit;
}
.icon-filter:before {
  content: "\e909";
  color: inherit;
}
.icon-firstpage:before {
  content: "\e90a";
  color: inherit;
}
.icon-lastpage:before {
  content: "\e90b";
  color: inherit;
}
.icon-menu:before {
  content: "\e90c";
  color: inherit;
}
.icon-minus:before {
  content: "\e90d";
  color: inherit;
}
.icon-money:before {
  content: "\e90e";
  color: inherit;
}
.icon-swap:before {
  content: "\e90f";
  color: inherit;
}
.icon-truck:before {
  content: "\e910";
  color: inherit;
}
.icon-add:before {
  content: "\e911";
  color: inherit;
}
.icon-add-shopping-cart:before {
  content: "\e912";
  color: inherit;
}
.icon-alert:before {
  content: "\e913";
  color: inherit;
}
.icon-arrow-left:before {
  content: "\e914";
  color: inherit;
}
.icon-arrow-outward:before {
  content: "\e915";
  color: inherit;
}
.icon-arrow-right:before {
  content: "\e916";
  color: inherit;
}
.icon-cart:before {
  content: "\e917";
  color: inherit;
}
.icon-check:before {
  content: "\e918";
  color: inherit;
}
.icon-check_circle:before {
  content: "\e919";
  color: inherit;
}
.icon-checkbox:before {
  content: "\e91a";
  color: inherit;
}
.icon-chevron-down:before {
  content: "\e91b";
  color: inherit;
}
.icon-chevron-left:before {
  content: "\e91c";
  color: inherit;
}
.icon-chevron-right:before {
  content: "\e91d";
  color: inherit;
}
.icon-chevron-up:before {
  content: "\e91e";
  color: inherit;
}
.icon-cleaning:before {
  content: "\e91f";
  color: inherit;
}
.icon-compare-arrows:before {
  content: "\e920";
  color: inherit;
}
.icon-copy:before {
  content: "\e921";
  color: inherit;
}
.icon-drag-pan:before {
  content: "\e922";
  color: inherit;
}
.icon-expand:before {
  content: "\e923";
  color: inherit;
}
.icon-facebook:before {
  content: "\e924";
  color: inherit;
}
.icon-fpo:before {
  content: "\e925";
  color: inherit;
}
.icon-image:before {
  content: "\e926";
  color: inherit;
}
.icon-info:before {
  content: "\e927";
  color: inherit;
}
.icon-instagram:before {
  content: "\e928";
  color: inherit;
}
.icon-language:before {
  content: "\e929";
  color: inherit;
}
.icon-linkedin:before {
  content: "\e92a";
  color: inherit;
}
.icon-list:before {
  content: "\e92b";
  color: inherit;
}
.icon-location:before {
  content: "\e92c";
  color: inherit;
}
.icon-mail:before {
  content: "\e92d";
  color: inherit;
}
.icon-mop:before {
  content: "\e92e";
  color: inherit;
}
.icon-more:before {
  content: "\e92f";
  color: inherit;
}
.icon-number-2:before {
  content: "\e930";
  color: inherit;
}
.icon-number-5:before {
  content: "\e931";
  color: inherit;
}
.icon-phone:before {
  content: "\e932";
  color: inherit;
}
.icon-pin:before {
  content: "\e933";
  color: inherit;
}
.icon-play:before {
  content: "\e934";
  color: inherit;
}
.icon-radio-button-checked:before {
  content: "\e935";
  color: inherit;
}
.icon-radio-button-unchecked:before {
  content: "\e936";
  color: inherit;
}
.icon-refresh:before {
  content: "\e937";
  color: inherit;
}
.icon-search:before {
  content: "\e938";
  color: inherit;
}
.icon-settings:before {
  content: "\e939";
  color: inherit;
}
.icon-share:before {
  content: "\e93a";
  color: inherit;
}
.icon-shopping-cart:before {
  content: "\e93b";
  color: inherit;
}
.icon-user:before {
  content: "\e93c";
  color: inherit;
}
.icon-warning:before {
  content: "\e93d";
  color: inherit;
}
.icon-water-drop:before {
  content: "\e93e";
  color: inherit;
}
.icon-water-drop2:before {
  content: "\e93f";
  color: inherit;
}
.icon-water-voc:before {
  content: "\e940";
  color: inherit;
}
.icon-zoom-in:before {
  content: "\e941";
  color: inherit;
}
.icon-zoom-out:before {
  content: "\e942";
  color: inherit;
}
